<!-- templates/upload_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Documento .docx</title>
</head>
<body>
    <h1>Subir Documento .docx</h1>
    <form method="post" action="{% url 'cargar_docx' %}" enctype="multipart/form-data">
        
        {% csrf_token %}
        <input type="file" name="archivo_docx" accept=".docx" multiple>
        <button type="submit">Subir archivo .docx</button>
    </form>
</body>
</html>
